//MENU

.arlo_fn_header {
    background-color: $color-1;
    .menu_nav {
        ul.vert_nav {
            li {
                > a {
                    color: white;
                }
            }
        }
    }
    .menu_logo {
        img {
            max-width: 120px;
        }
    }
    .arlo_fn_tagline {
        .social_list {
            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }
        .tline_search {
            a {
                color: white;
            }
        }
    }
    input[type=text] {
        color: white;
        &:focus {
            background: none;
            color: white;
        }
        &::placeholder {
            color: white;
        }
    }
}