#myfullpage {
    @include bk-grad($color-2 ,  #bec1d8 , $color-1);
    >.section {
        &.banner-section {
            &:before {
                border-radius: 50%;
                background: $color-2;
            }
            .banner-text-section {
                p {
                    color: white;
                    a {
                        color: $color-4;
                    }
                }
                h3 {
                    color: white;
                }
                .author-designation {
                    &::before {
                        background: $color-4;
                    }
                    span {
                        background: unset;
                        color: white;
                    }
                }
            }
            .banner-image-section {
                .featured-image {
                    max-width: 560px;
                }
            }
        }
        .service-item-wrapper {
            margin-top: 250px;
            h3 {
                a {
                    color: $color-4;
                    &:hover {
                        color: $color-3;
                    }
                }
            }
            p {
                color: white;
                font-size: 20px;
            }
        }
        .heading {
            .entry-title {
                color: $color-1;
            }
        }
    }
    .banner-text-section {
        > .featured-image {
            &::before {
                background: $color-4
            }
        }
    }
}