.elementor-section {
    background: $color-2;
    &#arlo-about {
        .fn_cs_about_text_slider.fn_classic {
            .info_list {
                ul {
                    li {
                        .info_item {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
        .fn_cs_about_text_slider {
            .info_list {
                ul {
                    li {
                        .info_item {
                            span {
                                a {
                                    color: $color-1;
                                }
                            }
                        }
                    }
                }
            }
            .btn_list {
                ul {
                    li {
                        a {
                            background-color: $color-1;
                        }
                    }
                }
            }
        }
    }
    &#arlo-services {
        .snumbered_inner {
            ul {
                li {
                    .item {
                        &:after {
                            background-color: $color-2;
                        }
                    }
                    .number_holder {
                        &:after {
                            background-color: $color-2;
                        }
                    }
                }
            }
        }
        .bottom_part {
            ul {
                li {
                    div {
                        background: transparent;
                    }
                }
            }
        }
    } 
}