body.single-previews {
    background: black;
    main {
        .preview-frames {
            display: block;
            width: 90%;
            margin: 0 auto;
            height: 90vh;
        }
    }
}