body.post-template-quote-pagetemplate {
    main {
        background: $color-1;
        #single-main-article-content {
            .error , .success {
                font-size: 18px;
                margin-bottom: 20px;
                padding: 15px 50px;
                border-radius: 25px;
            }
            .error {
                color: $red;
                background: $color-4;
            }
            .success {
                color: lighten(black, 20%);
                background: $color-2;
            }
            form {
                width: 100%;
                position: relative;
                display: block;
                fieldset {
                    width: 100%;
                    display: none;
                    background: lighten($color-1, 3%);
                    padding: 30px 50px;
                    border-radius: 50px;
                    transform: translateX(0%) scale(1);
                    opacity: 1;
                    &.active {
                        display: block;
                        animation: quote-anim-2 1s;
                        animation-fill-mode: forwards;
                        position: relative;
                    }
                    &.prev-field {
                        animation: quote-anim-1 1s;
                        animation-fill-mode: forwards;
                        display: block;
                        position: absolute;
                    }
                    label {
                        width: 100%;
                        color: $color-4;
                        span {
                            font-size: 30px;
                            .required {
                                color: $color-2;
                            }
                            .optional {
                                font-size: 15px;
                            }
                        }
                        input {
                            background: 0;
                            -webkit-appearance: none;
                            outline: 0;
                            border: 0;
                            border-bottom: 1px solid lighten($color-1, 20%);
                            width: 100%;
                            font-size: 40px;
                            color: white;
                            padding: 5px 30px;
                            margin-bottom: 15px;
                        }
                    }
                    .prev-next {
                        border-bottom: 1px solid white;
                        color: white;
                        font-size: 20px;
                        padding: 10px 20px;
                        margin-top: 30px;
                        display: inline-block;
                        width: 140px;
                        text-align: center;
                        &.next {
                            float: right;
                        }
                        &.prev {
                            float: left;
                        }
                    }
                    .options {
                        .option {
                            position: relative;
                            display: inline-block;
                            width: auto;
                            padding-right: 25px;
                            &:last-child {
                                padding-right: 0;
                            }
                            input {
                                border: 0;
                                position: absolute;
                                opacity: 0;
                                width: 0;
                                height: 0;
                                &[type=radio]:checked + .img-wrap {
                                    border: 1px solid $color-2;
                                }
                            }
                            .img-wrap {
                                width: 150px;
                                height: 150px;
                                border: 1px solid $color-4;
                                border-radius: 20px;
                                img {
                                    max-width: 100%;
                                    height: auto;
                                    padding: 10px;
                                    border-radius: 20px;
                                    cursor: pointer;
                                }
                            }
                            .theme-options {
                                .view-option {
                                    text-align: center;
                                    padding-top: 10px;
                                    span {
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                    }
                    textarea {
                        height: 150px;
                        background: 0;
                        border: 0;
                        border-bottom: 1px solid lighten($color-1, 20%);
                        width: 100%;
                        font-size: 20px;
                        color: white;
                    }
                    .template-tabs {
                        overflow: hidden;
                        padding-bottom: 30px;
                        .tablinks {
                            float: left;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            padding: 14px 16px;
                            transition: 0.3s;
                            border-bottom: 1px solid lighten($color-1, 3%);
                            &:hover {
                                border-bottom: 1px solid $color-4;;
                            }
                            &.active {
                                border-bottom: 1px solid $color-4;
                            }
                        }
                    }
                    .tabcontent {
                        display: none;
                        padding: 6px 12px;
                        border-top: none;
                    }
                }
                #quote-items {
                    font-size: 30px;
                    color: $color-4;
                    span {
                        color: white;
                    }
                }
            }
        }
        #preview-frame {
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
            height: 100vh;
            padding: 5%;
            background: rgba(0,0,0,0.8);
            display: none;
        }
        #iframe-close {
            position: fixed;
            top: 0;
            width: 100%;
            left: 0;
            padding: 15px;
            background: rgba(0,0,0,0.9);
            display: none;
            z-index:99999;
            text-align: right;
            span {
                color: white;
                font-size: 30px;
                cursor: pointer;
            }
        }
    }
}